<ActionBar title="Profile">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap) ="goBack()"></NavigationButton>
</ActionBar>
<FlexboxLayout class="page">
    <StackLayout class="form">
        

            <GridLayout rows="auto, auto,auto,auto,auto,auto">
                <StackLayout row="0" class="input-field">
                    <Label text="Name" textWrap="true"></Label>
                    <TextField class="input" 
                         autocorrect="false"
                         [(ngModel)]="person.name"
                        autocapitalizationType="none" ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="1" class="input-field">
                    <Label text="Last Name" textWrap="true"></Label>
                    <TextField class="input" 
                         autocorrect="false"
                         [(ngModel)]="person.lastname"
                        autocapitalizationType="none" ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="2" class="input-field">
                    <Label text="Document" textWrap="true"></Label>
                    <TextField class="input" 
                         autocorrect="false"
                         [(ngModel)]="person.document"
                        autocapitalizationType="none" ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="3" class="input-field">
                    <Label text="Phone" textWrap="true"></Label>
                    <TextField class="input" 
                         autocorrect="false"
                         [(ngModel)]="person.contact"
                        autocapitalizationType="none" ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="4" class="input-field">
                    <Label text="Email" textWrap="true"></Label>
                    <TextField class="input" 
                         autocorrect="false"
                         [(ngModel)]="person.email"
                        autocapitalizationType="none" ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="5" class="input-field">
                    <Label text="Occupation" textWrap="true"></Label>
                    <TextField class="input" 
                         autocorrect="false"
                         [(ngModel)]="person.occupation"
                        autocapitalizationType="none" ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <ActivityIndicator rowspan="2" [busy]="isBusy" color="#365a95" width="100" height="100" ></ActivityIndicator>
               
            </GridLayout>

            <Button  text="Save" (tap)="save()" [isEnabled]="!isBusy" class="-outline -rounded-lg" ></Button>
        
    </StackLayout>

</FlexboxLayout>