/* Add mobile styles for the component here.  */
/* Add mobile styles for the component here.  */
html{
  font-size: 16px;
}
.page {
    align-items: center;
    flex-direction: column;
  }
  .form {
    font-size: 16px;
    margin-left: 2em;
    margin-right: 2rem;
    flex-grow: 2;
    vertical-align: middle;
  }
  
  .logo {
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
  }
  .header {
    
    font-size: 25px;
    font-weight: 600;
    margin-top: 4em;
    margin-bottom: 60em;
    text-align: center;
    color: rgb(43, 162, 209);
  }

  label{
    color: rgb(43, 162, 209);
  }  
  

  .input-field {
    margin-bottom: 10rem;
  }
  .input {
    font-size: 18;
   
  }
  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }
  
  .btn-primary {
    font-size: 16px;
    margin: 2em 0.25em 1em 0.25em;
  }
  
  .login-label {
    
   
    color: #A8A8A8;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  