<ActionBar>
    <Label text="Análisis Usuarios"></Label>
</ActionBar>

<GridLayout>

    <ListView [items]= "penaltyfees" >
        <ng-template let-Penaltyfee= "Penaltyfee">
            <GridLayout>
                <Label text="Name:"></Label>
                <Label [text]="Penaltyfee.name"></Label>

                <Label text="Price:"></Label>
                <label [text]="Penaltyfee.price" ></label>

                <Label text="Date:"></Label>
                <label [text]="Penaltyfee.date" ></label>

                <Label text="Vehicleplate:"></Label>
                <label [text]="Penaltyfee.vehicleplate" ></label>
            </GridLayout>
            <StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>



    <button text="Logout" class="btn btn-primary" (tap)="exit()"></button>
    

</GridLayout>