<ActionBar title="Menu principal">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap) ="exit()"></NavigationButton>

    <ActionItem
    android.systemIcon="ic_menu_camera" 
    ios.position="right"
    android.position="right"
    (tap) ="useCamera()" text="Camera">
    </ActionItem>
    <ActionItem
    android.systemIcon="ic_menu_shared" 
    ios.position="right"
    android.position="right"
    (tap) ="getRegisters()" text="Registers">
    </ActionItem>
</ActionBar>

<FlexboxLayout class="page">
    <GridLayout rows="auto,auto" class="form">
        <StackLayout row="0" class="input-field">
            <Label class="header" text="Rfid Admin" ></Label>
            <GridLayout rows="auto" columns="*,*" style="margin-bottom: 200px;">
                <StackLayout row="0" col="0" >
                    <Button text="Activate"  [isEnabled]="!isBusy"  (tap)="changeState('1')"
                    class="-primary  "></Button>
                </StackLayout>
                <StackLayout row="0" col="1" >
                    <Button text="deactivate"  [isEnabled]="!isBusy"  (tap)="changeState('0')"
                    style="background-color: red"></Button>
                </StackLayout>   
            </GridLayout>            
            <Label class="text" text="Por favor,Ingrese el documento para consultar su informacion" textWrap="true"></Label>
            <ActivityIndicator rowspan="2" [busy]="isBusy" color="#365a95" width="100" height="100" ></ActivityIndicator>
        </StackLayout>
        <StackLayout row="1" class="input-field">
            <TextField class="input"
             [(ngModel)]="document"
             hint="Enter document" 
            keyboardType="number" autocorrect="false"
            autocapitalizationType="none" ></TextField>
            <Button text="My Profile"  [isEnabled]="!isBusy" (tap)="sendDocument()" 
            class="-outline -rounded-lg "></Button>
        </StackLayout>
    </GridLayout>
</FlexboxLayout>






