<ActionBar>
    <Label text="Análisis Usuarios"></Label>
</ActionBar>

<GridLayout>

    <ListView [items]= "penaltyfees" >
        <ng-template let-item= "penaltyfee">
            <StackLayout>
                <label text={{penaltyfee.price}} ></label>
                <label text={{penaltyfee.date}} ></label>
                <label text={{penaltyfee.vehicleplate}} ></label>
            </StackLayout>
        </ng-template>
    </ListView>



    <button text="Logout" class="btn btn-primary" (tap)="exit()"></button>
    

</GridLayout>