/* Add mobile styles for the component here.  */
html{
  font-size: 16px;
}
.page {
    align-items: center;
    flex-direction: column;
  }
  .form {
    margin-left: 2rem;
    margin-right: 2rem;
    flex-grow: 2;
    vertical-align: middle;
  }
  
  .header {
    
    margin-top: 4rem;
    margin-bottom: 180rem;
    text-align: center;
    color: rgb(43, 162, 209);
  }
  .text {
    
    font-size: 20rem;
    margin-bottom: 100rem;
    text-align: center;
    color: rgb(142, 155, 170);
  }
  
  .input-field {
    margin-bottom: 100rem;
  }
  .input {
    font-size: 18;
   
  }
  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }
  

  .bold {
    color:cornflowerblue; 
  }
